body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #F8F9F9;
}

.container-mona {
    padding-left: 1vw;
    padding-right: 1vw;
}

@media screen and (min-width: 1400px){
    .container-mona{
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

input {
    -webkit-appearance:none;
    box-shadow: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
